.innerNavbar > span {
  flex: 1;
  padding: 8px;
  padding-right: 40px;
  font-weight: 400;
  line-height: 22px;
}

.innerNavbar > div {
  padding: 8px;
}

.innerNavbar {
  display: flex;
  align-items: center;
  max-width: 840px;
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {
  .innerNavbar {
    padding: 0 16px;
  }
}
