.navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  transition: top 0.2s;
  background-color: var(--greyScale-0);
  border-bottom: 1px solid var(--greyScale-1);
}

.innerNavbar > span {
  flex: 1;
  padding: 8px;
  padding-right: 40px;
  margin-bottom: 5px;
}

.innerNavbar > div {
  padding: 8px;
}

.innerNavbar {
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
}