.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

/* Notion Colours */
.default {
  color: inherit;
}

.yellow {
  color: var(--notion-yellow)
}

.gray {
  color: var(--notion-gray)
}

.brown {
  color: var(--notion-brown)
}

.orange {
  color: var(--notion-orange)
}

.green {
  color: var(--notion-green)
}

.purple {
  color: var(--notion-purple)
}

.pink {
  color: var(--notion-pink)
}

.blue {
  color: var(--notion-blue);
}

.red {
  color: var(--notion-red);
}