@import '~basscss/css/basscss.css';
 
/* 
  black: #2d2d2a;
  red: #c14953;
  white: #f2f5ff;
  yellow: #f5e960;
  green : #55d6c2;
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: #2d2d2a;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat/Montserrat-Bold.ttf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

a {
  display: inline-block;
  color: #55d6c2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-red {
  color: #c14953;
}

.color-black {
  color: #2d2d2a;
}

.color-white {
  color: #f2f5ff;
}

.color-green {
  color: #55d6c2;
}

.color-yellow {
  color: #f5e960;
}

/************ FOOTER ************/
.footer-top {
  background-color: #f2f5ff;
  color: #2d2d2a;
}

.footer-top img {
  height: 16px;
}

.footer-bottom {
  background-color: #2d2d2a;
  color: #f2f5ff;
}

.footer-bottom a {
  color: #f2f5ff;
}

@media (max-width: 425px) {
  .footer-bottom {
    flex-direction: column;
  }
}

/************ WORK ************/
.work h2 {
  font-size: 2em;
}

.work p {
  font-size: 1.2em;
  line-height: 1.4;
}

.work span {
  white-space: nowrap;
}

.work-img {
  order: 1;
}

.work-text {
  order: 0;
}

@media (max-width: 40em) {
  .work {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
  }

  .work > div {
    width: 100%;
    margin-bottom: 2em;
  }

  .work h2 {
    font-size: 1.4em;
  }

  .work p {
    font-size: 1em;
    line-height: 1.4;
  }

  .work-img {
    order: 0;
  }
  
  .work-text {
    order: 1;
  }
}

/************ HOME PAGE ************/
.dark-theme {
  color: #f2f5ff;
  background-color: #2d2d2a;
  transition: 0.3s all ease-in-out;
}

.light-theme {
  color: #2d2d2a;
  background-color: #FFFFFF;
  transition: 0.3s all ease-in-out;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initialPageBg {
  color: #f2f5ff;
  background-color: #2d2d2a;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 50;
}

.content {
  width: 100%;
}

.content h1 {
  font-size: 4em;
}

@media only screen and (max-width: 52em) {
  .content h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 52em) and (max-width: 64em) {
  .content h1 {
    font-size: 3em;
  }
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/************ BOX ************/
.afterBox {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redBox {
  z-index: 49;
  background-color: #c14953;
}

.yellowBox {
  z-index: 48;
  background-color: #f5e960;
}

.greenBox {
  z-index: 47;
  background-color: #55d6c2;
}

.box {
  width: 80px;
	height: 80px;
	position: relative;
	display: inline-block;
}

.circle {
  width: 120px;
  height: 120px;
  position: relative;
	display: inline-block;
}

.circle-loader {
  transform: rotate(-90deg);
}

.circle-loader__el {
  stroke-linecap: round;
}

.circle .logo {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.box span {
  position: absolute;
  display: block;
  border-radius: 8px;
  background: #f2f5ff;
}

.box .top,
.box .bottom {
  width: 100%;
  height: 5px;
  transform: scaleX(0);
}
.box .left,
.box .right {
  width: 5px;
  height: 100%;
  transform: scaleY(0);
}

.box .top {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.box .right {
  top: 0;
  right: 0;
  transform-origin: top left;
}
.box .bottom {
  bottom: 0;
  right: 0;
  transform-origin: top right;
}
.box .left {
  top: 0;
  left: 0;
  transform-origin: bottom left;
}

.box .logo {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

/************ Books ************/
.books {
  background-color: #2d2d2a;
  color: #f2f5ff;
}

.books h2 {
  font-size: 4em;
}

.book-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.books > div > div {
  min-height: 500px;
}


@media (max-width: 40em) {
  .books > div > div {
    flex-direction: column;
    margin: 2em 0;
    min-height: 100%;
  }

  .books > div > div > div {
    width: 100%;
  }

  .books h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
    text-align: center;
  }
}

/************ Profile ************/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  z-index: 50;
  color: #f2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding: 4em;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.overlay h2 {
  font-size: 4em;
}

.overlay a {
  font-size: 1.4em;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 40em) {
  .overlay {
    padding: 1em;
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 38%, transparent 100%);
  }

  .overlay h2 {
    font-size: 1.4em;
  }

  .overlay a {
    font-size: 0.8em;
    margin: 0;
  }
}

/************ Side Project ************/
.activities {
  background-color: #f5e960;
  color: #2d2d2a;
}

.activities h2 {
  font-size: 2em;
}

.activities p {
  font-size: 1.2em;
  line-height: 1.4;
}

.activities > div > div {
  height: 300px;
}

.activities > div {
  min-height: 500px;
}

@media (max-width: 40em) {
  .activities > div > div {
    width: 100%;
  }

  .activities {
    padding: 4em 0;
  }
}

/************ Bio ************/
.bio {
  background-color: #c14953;
  color: #f2f5ff;
}

.bio > div {
  min-height: 500px;
}

.bio h2 {
  font-size: 4em;
  margin: 0;
  text-transform: uppercase;
}

@media (max-width: 40em) {
  .bio > div {
    align-items: flex-start;
  }

  .bio h2 {
    font-size: 1.4em;
  }

  .bio svg {
    width: 2em;
    height: 2em;
    flex: 1 1 100%;
    max-width: 2em;
    max-height: 2em;
  }
}

.btt {
  position: absolute;
  bottom: 1em;
  right: 4em;
  z-index: 50;
  background-color: #f2f5ff;
  color: #2d2d2a;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.theme-mode {
  position: fixed;
  right: 3em;
  top: 1.5em;
  z-index: 40;
}

.theme-mode__btn {
  display: block;
  padding: 0.5em;
  border-radius: 50%;
}

.theme-mode svg {
  width: 2em;
  height: 2em;
  flex: 1 1 100%;
  max-width: 2em;
  max-height: 2em;
}